@charset "utf-8";
*{
    margin: 0 auto;
    padding: 0;
    list-style: none;
}
a{
    text-decoration: none;
    display: block;
    color: #333333;
}
.all{
    width: 1200px;
    height: 700px;
}
.header{
    width: 100%;
    height: 100px;
    float: left;
    background-color: red;
}
.logo{
    width: 200px;
    height: 100%;
    float: left;
}
.logo img{
    margin-top: 30px;
    margin-left: 15px;
    width: 140px;
    height: 40px;
}
.menu{
    width: 1000px;
    height: 100%;
    float: left;
}
/* 메인메뉴 */
.main{
    float: right;
    position: relative;
    z-index: 1;
    margin-top: 20px;
}
.main>li{
    width: 200px;
    float: left;
    text-align: center;
}
.main>li>a{
    width: 200px;
    font-weight: bold;
    line-height: 50px;
    /* background-color: blanchedalmond; */
}
.img2{
    z-index: 1;
    top: 100px;
    width: 1200px;
    height: 150px;
    background-color: #333333;
    position: absolute;
    display: none;
}
.sub{
    z-index: 18;
    margin-top: 30px;
    display: none;
}
.sub>li>a{
    width: 200px;
    height: 50px;
    font-weight: bold;
    line-height: 30px;
    color: white;
}
.sub>li>a:hover{
    background-color: grey;
    color: yellow;
}
.imgslide{
    width: 100%;
    height: 300px;
    background-color: aquamarine;
    float: left;
    position: relative;
    overflow: hidden;
}
.slidelist{
    width: 3600px;
}
.slidelist ul li{
    width: 1200px;
    float: left;
}
.slidelist span{
    margin-left: 400px;
    margin-top: 120px;
    text-align: center;
    width: 500px;
    line-height: 50px;
    position: absolute;
    font-weight: bold;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
}
.contents{
    width: 100%;
    height: 200px;
    float: left;
}
.tabmenu{
    width: 400px;
    height: 100%;
    float: left;
}
.tabmenu>li{
    width: 100px;
    float: left;
    line-height: 30px;
}
.tabmenu>li>a{
    text-align: center;
    background-color:yellow;
}
.tabmenu div{
    left: 0;
    height: 0;
    overflow: hidden;
}
.tabmenu>li.active div{
    line-height: 40px;
    width: 390px;
    height: 160px;
    font-size: 13px;
    border: 1px solid yellow;
}

.notice li{
    padding-left: 10px;
}
.notice li>a{
    color: blueviolet;
}
.notice span{
    float: right;
    margin-right: 10px;
}
.notice li:nth-child(2n){
    background-color: yellow;
}
.c2{
    width: 400px;
    height: 100%;
    float: left;
}
.c2>li{
    width: 100px;
    float: left;
    line-height: 30px;
}
.c2>li>a{
    text-align: center;
    background-color:yellow;
}
.gallery{
    width: 390px;
    height: 160px;
    border: 1px solid yellow;
}
.gallery li {
    float: left;
    margin-top: 20px;
    margin-left: 15px;
}

.gallery img {
    width: 110px;
    height: 110px;
}
.c3{
    width: 400px;
    height: 100%;
    float: left;
}
.c3 img{
    width: 400px;
    height: 200px;
}
.sctext{
    position: absolute;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.5);
    width: 200px;
    text-align: center;
    line-height: 30px;
    margin-top: 80px;
    margin-left: 90px;
}
.footer{
    width: 100%;
    height: 100px;
}
.btlogo{
    width: 200px;
    height: 100%;
    float: right;
    background-color: brown;
}
.btmenu{
    width: 1000px;
    height: 100%;
    float: left;
}
.sns{
    width: 100%;
    height: 50%;
    background-color: aqua;
}
.copy{
    width: 100%;
    height: 50%;
    background-color: bisque;
}