@charset "utf-8";

* {
    margin: 0 auto;
    padding: 0px;
    list-style: none;
    color: black;
}

a {
    text-decoration: none;
    display: block;
}

.all {
    width: 1200px;
    height: 700px;
}

.header {
    width: 100%;
    height: 100px;
}

.logo {
    width: 200px;
    height: 100%;
    float: left;

}

.logo img {
    float: left;
    width: 200px;
    height: 50px;
    margin-top: 25px;
    margin-left: 15px;
}

.main {
    width: 1000px;
    height: 100%;
    float: left;

}

.menu {
    position: relative;
    top: 30px;
    float: right;

}

.menu>li {
    width: 200px;
    float: left;
    background-color: brown;
    text-align: center;

}

.menu>li>a {
    width: 180px;
    height: 40px;
    font-size: 14px;
    line-height: 40px;
    font-weight: bold;
    text-align: center;

}

.menu>li:hover {
    background-color: green;
}

.sub {
    width: 200px;
    z-index: 1;
    position: relative;
    display: none;
}

.sub>li {
    width: 200px;
    background-color: hotpink;
}

.sub>li>a {
    width: 180px;
    height: 40px;
    line-height: 20px;
    font-weight: bold;
    text-align: center;
    font-size: 14px;

}

.sub>li:hover {
    background-color: green;
}

.imgslide {
    width: 1200px;
    height: 300px;
    position: relative;

}

.imgslide img {
    width: 1200px;
    height: 300px;
}

.imgslide>a {
    display: block;
    position: absolute;

}

.imgtext {
    width: 500px;
    height: 50px;
    position: absolute;
    text-align: center;
    font-weight: bold;
    line-height: 50px;
    left: 350px;
    top: 125px;
    background-color: rebeccapurple;
}

.contents {
    width: 100%;
    height: 200px;
}

.tabmenu {
    width: 400px;
    height: 100%;
    float: left;
    position: relative;
}

.tabmenu>li {
    float: left;
    width: 100px;
    line-height: 30px;
}

.tabmenu>li>a {
    background: gainsboro;
    text-align: center;

}

.tabmenu>li>a:hover {
    font-weight: bold;
}

.tabmenu>li.active>a {
    background: white;
}

.tabmenu>li div {
    position: absolute;
    left: 0px;
    height: 0px;
    overflow: hidden;
}

.tabmenu>li.active div {
    width: 400px;
    height: 150px;

}

.notice {
    width: 400px;
    height: 150px;
}

.notice li {
    line-height: 32px;
}

.notice span {
    float: right;
}

.notice li:nth-child(2n) {
    background: gainsboro;
}

.c2 {
    width: 400px;
    height: 100%;
    float: left;
    background-color: brown;
}

.c3 {
    width: 400px;
    height: 100%;
    float: left;
    background-color: violet;
}

.footer {
    width: 100%;
    height: 100px;
}

.logoo {
    width: 200px;
    height: 100%;
    background-color: aqua;
    float: left;
}

.copyright {
    width: 800px;
    height: 100%;
    float: left;
    background: blueviolet;
}

.sns {
    width: 200px;
    height: 100%;
    background-color: beige;
    float: left;
}