@charset "utf-8";

* {
    margin: 0 auto;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
    display: block;
    color: #333333;
}

.all {
    width: 1000px;
    height: 650px;
}

.header {
    width: 250px;
    height: 650px;
    float: left;
    background-color: bisque;
}

.logo {
    width: 250px;
    height: 150px;
}

.logo img {
    width: 250px;
    margin-top: 10px;
}

/* 메인메뉴 가로 시작 */
.main {
    width: 100%;
    height: 500px;
    float: left;
}

.menu {
    position: relative;
    top: 20px;
}

.menu>li {
    width: 180px;
    text-align: center;
}

.menu>li>a {
    width: 180px;
    background-color: black;
    color: white;
    line-height: 40px;
    font-weight: bold;
}

.menu>li>a:hover {
    background-color: gray;
}

.sub {
    width: 180px;
    display: none;
    z-index: 1;
    left: 215px;
    position: absolute;
    top: -20px;
}

.sub>li>a {
    text-align: center;
    width: 180px;
    height: 60px;
    background-color: grey;
    color: black;
    line-height: 40px;
    font-weight: bold;
}

.sub>li>a:hover {
    background-color: cadetblue;
    color: yellow;
}

/* 메인메뉴 가로 끝 */

/* 이미지 슬라이드 시작 */
.imgslide {
    width: 750px;
    height: 350px;
    float: left;
    position: relative;
    overflow: hidden;
}

.imgslide img {
    width: 750px;
    height: 350px;
}

.slidelist {
    width: 2250px;
}

.slidelist ul li {
    width: 750px;
    float: left;
}

.slidelist span {
    width: 350px;
    text-align: center;
    position: absolute;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.5);
    line-height: 50px;
    color: white;
    margin-top: 150px;
    margin-left: 200px;
}

/* 이미지 슬라이드 끝 */
.contents {
    width: 750px;
    height: 200px;
    float: left;
}

/* 텝 메뉴 시작 */
.tabmenu {
    width: 250px;
    height: 100%;
    float: left;
    position: relative;
    margin-top: 10px;
}

.tabmenu>li {
    width: 100px;
    float: left;
    line-height: 30px;
}

.tabmenu>li>a {
    text-align: center;
    background-color: white;
    color: black;
    border: 1px solid;
}
.tabmenu>li.active>a{
    background-color: gray;
}
.tabmenu div {
    height: 0;
    left: 0;
    position: absolute;
    overflow: hidden;
}

.tabmenu>li.active div {
    width: 245px;
    height: 130px;
    border: 1px solid;
}
.notice li{
    padding-left: 10px;
    line-height: 33px;
}
.notice li:nth-child(2n){
    background-color: grey;
}
.notice li:hover{
    font-weight: bold;
}
.notice span{
    float: right;
    margin-right: 10px;
}
.gallery li{
    margin-left: 10px;
    float: left;
    margin-top: 30px;
}
.gallery img{
    width: 70px;
    height: 80px;
}
/* 탭 메뉴 끝 */
.c2 {
    width: 250px;
    height: 100%;
    float: left;
}
.c2 img{
    width: 240px;
    height: 190px;
    margin-left: 10px;
    margin-top: 10px;
}
.bntext{
    width: 150px;
    line-height: 50px;
    font-weight: bold;
    position: absolute;
    text-align: center;
    color: white;
    background-color: rgba(0,0,0,0.5);
    margin-top: 90px;
    margin-left: 60px;
}
.c3 {
    width: 250px;
    height: 100%;
    float: left;
}
.c3 img{
    width: 240px;
    height: 190px;
    margin-left: 10px;
    margin-top: 10px;
}
.sctext{
    width: 150px;
    line-height: 50px;
    font-weight: bold;
    position: absolute;
    text-align: center;
    color: white;
    background-color: rgba(0,0,0,0.5);
    margin-top: 90px;
    margin-left: 60px;
}
.footer {
    width: 750px;
    height: 100px;
    float: left;
    background-color: skyblue;
}

.btlogo {
    width: 150px;
    height: 100px;
    float: left;
}
.btlogo img{
    width: 150px;
    height: 100px;
}
.btmenu {
    width: 600px;
    height: 100px;
    float: left;
    text-align: center;
    font-size: 18px;
    line-height: 50px;
}
.btmenu li{
    width: 100px;
    display: inline-block;
    margin-top: 10px;
}
.btmenu li:hover{
    font-weight: bold;
}
.sns {
    width: 100%;
    height: 50px;
}
.copyright {
    width: 100%;
    height: 50px;
    text-align: center;
    font-size: 16px;
}
#modal{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
    display: none;
}
#modal.active{
    display: block;
}
.modal_up{
   width: 400px;
   height: 400px;
   text-align: center;
   margin-top: 250px;
   background-color: white;
}
.m1{
    font-weight: bold;
    padding: 30px;
}
.m2{
    text-align: center;
}
.m3{
    width: 80px;
    line-height: 30px;
    background-color: royalblue;
    cursor: pointer;
    color: wheat;
    margin-top: 150px;
    margin-right: 20px;
}