* {
    margin: 0 auto;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
    display: block;
    color: #333333;
}

.all {
    width: 1200px;
    height: 700px;
}

.header {
    width: 100%;
    height: 100px;
    background-color: gray;
}

.logo {
    float: left;
    width: 200px;
    height: 100%;
}

.logo img {
    width: 200px;
    margin-top: 10px;
    float: left;
}

.main {
    width: 1000px;
    height: 100%;
    float: left;
}

.menu {
    float: right;
    position: relative;
    text-align: center;
    margin-top: 30px;
    margin-left: 20px;
}

.menu>li {
    float: left;
    width: 180px;

}

.menu>li>a {
    width: 180px;
    line-height: 40px;
    font-weight: bold;
    background-color: black;
    color: white;
}

.menu>li>a:hover {
    background-color: blue;
}

.sub {
    width: 180px;
    position: absolute;
    z-index: 1;
    display: none;
}

.sub>li>a {
    width: 180px;
    line-height: 40px;
    font-weight: bold;
    background-color: beige;
}

.sub>li>a:hover {
    background-color: blueviolet;
}

.imgslide {
    width: 100%;
    height: 300px;
    overflow: hidden;
    position: relative;

}

.slidelist {
    width: 3600px;
}

.slidelist ul li {
    width: 1200px;
    float: left;
}

.slidelist span {
    width: 500px;
    position: absolute;
    text-align: center;
    color: #ffffff;
    background-color: rgba(40, 40, 40, 0.5);
    font-weight: bold;
    line-height: 50px;
    margin-top: 125px;
    margin-left: 350px;
}

.contents {
    width: 100%;
    height: 200px;
    position: relative;
}

/* 텝 메뉴 */
.tabmenu{
    width: 400px;
    height: 100%;
    /* position: absolute; */
    float: left;
}
.tabmenu>li{
    width: 100px;
    float: left;
    line-height: 30px;
}
.tabmenu>li>a{
    text-align: center;
    background-color: bisque;
    border: 1px solid;
}
.tabmenu>li.active>a{
    background-color: blanchedalmond;
}
.tabmenu div{
    height: 0;
    left: 0;
    position: absolute;
    overflow: hidden;
}
.tabmenu>li.active div{
    width: 380px;
    height: 130px;
    border: 1px solid;
}
.notice li{
    padding-left: 10px;
    line-height: 33px;
}
.notice li:nth-child(2n){
    background-color: bisque;
}
.notice li:hover{
    font-weight: bold;
}
.gallery li{
    margin-top: 10px;
    margin-left: 10px;
    float: left;
}
.gallery img{
    width: 100px;
    height: 100px;
    padding: 5px;
}
.notice span{
    float: right;
    margin-right: 10px;
}
/* 텝 메뉴 끝 */
.c2 {
    width: 400px;
    height: 100%;
    float: left;
}
.c2 img{
    float: left;
    width: 400px;
    height: 200px;
}
.bntext{
    float: left;
    width: 300px;
    height: 40px;
    position: absolute;
    text-align: center;
    font-weight: bold;
    left: 450px;
    top: 80px;
    background-color: rgba(40, 40, 40, 0.3);
    line-height: 40px;
}
.c3{
    width: 400px;
    height: 100%;
    float: left;
}
.c3 img{
    width: 400px;
    height: 200px;
    float: left;
}
.sctext{
    float: left;
    width: 300px;
    height: 40px;
    position: absolute;
    text-align: center;
    font-weight: bold;
    background-color: rgba(40, 40, 40, 0.3);
    left: 850px;
    top: 80px;
    line-height: 40px;
}
.footer {
    width: 100%;
    height: 100px;
}

.btlogo {
    float: left;
    width: 200px;
    height: 100%;

}

.footer-menu {
    float: right;
    width: 1000px;
    height: 100px;
}

.sns {
    width: 1000px;
    height: 50%;
}

.copyright {
    width: 1000px;
    height: 50%;
}